/* src/app/components/error/error.component.scss */
.error-message {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  position: relative;
}

